// * {
//     margin: 0px;
//     padding: 0px;
// }
body {
    // border: 1px solid rgb(139, 0, 9);
    background-color: #1c1933;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.card {    
    background-color: #2c386a;
    border-radius: 20px;
    padding: 20px 20px;
    width: 80%;
    max-width: 360px;
    height: 74%;
    margin: auto;
    margin-top: 13%;
    margin-bottom: 13%;
    // border: 2px solid darkblue;
    
    .contain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // border: 2px solid rebeccapurple;
        height: 100%;
        // gap: 14px;

        .nft {
            width: 74%;
            height: auto;
            border-radius: 20px;
            margin: 0px;
            position: relative;
            left: 13%;
            // border: 2px solid rgb(7, 0, 139);
            
        }
        
        header {
            // border: 2px solid darkblue;
            width: 64%;
            font-size: 20px;
            font-weight: bold;
            color: rgb(227, 234, 255);
            // margin: auto;
            margin-top: 15px;
        }
        
        p {
            color: #b2c1ff;
        }
    
        section.price {
            display: flex;
            justify-content: space-between;
            // border: 2px solid rgb(122, 252, 9);
            height: 5.8%;
            margin-top: 15px;
            
            span {
                display: flex;
                justify-content: space-between;
                // border: 2px solid rgb(38, 0, 255);
                width: 30%;
                max-width: 98px;
                
                
                p {
                    font-size: 15px;
                    // border: 2px solid #aff50c;
                    margin: 0px;
                    padding: 3px 0px;
                    // width: FI;
                }

                img {
                    width: 24px;
                    height: 24px;
                    // border: 2px solid #00028b;
                }
                #eth {
                    // border: 2px solid rgb(0, 139, 79);
                    width: 22px;
                    height: 24px;
                }
            }

        span:first-of-type {
                // border: 2px rgb(0, 251, 255) solid;
                p {
                    color: #00FFF8;
                }
            }
        }
            
            

        hr {
            width: 100%;
            margin: 6px 0px 20px 0px;
        }
        .designer {
            // border: 2px solid rgb(241, 230, 5);
            display: flex;
            justify-content: space-between;
            width: 73%;
            max-width: 220px;
            height: fit-content;
            padding: 0%;
            margin: 0%;
            img {
                display: block;
                width: 22%;
                position: relative;
                left: 0%;
                margin: 0px;
            }
            
            p {
                // float: right;
                font-size: 86%;
                font-weight: 600;
                // border: 2px solid darkcyan;
                display: flex;
                align-items: center;
                width: fit-content;
                color: rgb(227, 230, 255);
                word-spacing: 2%;
    
                span {
                    margin-right: 8px;
                    color: #b2c1ff;
                }
            }
        }
    }    
}